@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Connect 4";
}



@if (SignInManager.IsSignedIn(User))
{
<div style="text-align: center; margin-top: 40px;">

    <a id="btnCriar" class="btn btn-default" asp-controller="Jogo" asp-action="CriarJogo" style="width: 170px; height: 45px">
        Criar jogo
    </a>

    <br />
    <br />

    <a id="btnContinuar" class="btn btn-default" style="width: 170px; height: 45px">
        Continuar jogo
    </a>

</div>
}
else
{
    <div style="text-align: center">
        <h1>Connect 4</h1>
        <h3>Davi Michetti</h3>
        <h3>Rafael Kohler</h3>
    </div>
}
